@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root{
    --Black:#242526;
    --White:white;
    --Blue:#0084ff;
    --Gray:gray;
    --Red:#eb4034;
    --Black2:#333;
}
body{
    background-color: var(--Black);
    color: var(--White);
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem calc((100vw - 1500px)/2);
    color: var(--White);
    border-bottom: 1px solid var(--Black2);
}
nav a{
    color: var(--White);
    text-decoration: none;
}
nav h3 a{
    font-family:  'Macondo', cursive;
    font-size: 2rem;
}
nav div a{
    margin-right: 20px;
}

/* ---------------------------------register ------------------------------- */

.register{
    max-width: 500px;
    margin: 0 auto;
    margin-top: 100px;
    padding: 2rem ;
    border-radius: 7px;
    box-shadow: 1px 2px 10px var(--Gray);
}
.register h3{
    text-align: center;
    font-size: 2rem;
    color: var(--Gray);
}

.register form{
    margin-top: 20px;
    padding: 0 2rem;
}
.input_Wrapper{
    margin-top: 20px;
}
.input_Wrapper input{
    width: 100%;
    padding: 10px;
    outline: none;
    margin-top: 10px;
    border: 1px solid var(--White);
    border-radius: 10px;
}
.resigter_btn{
    text-align: center;
    margin: 20px 0px;
}
.btn{
    padding: 10px;
    border-radius: 7px;
    background-color: var(--Black);
    color: var(--White);
    cursor: pointer;
    border: 1px solid var(--Gray);
    transition: all .3s ease;
    font-size: 1rem;
}.btn:hover{
    transform: scale(1.1);
}
.error{
    color: var(--Red);
    text-align: center;
    margin: 10px 0px;
}

/* profile--------------------- */

.profile{
    display: flex;
    justify-content: center;
}
.profile_wrapper{
    display: flex;
    align-items: center;
    margin-top: 110px;
    padding: 6rem 14rem;
    width: 60%;
    box-shadow: 1px 2px 10px var(--Gray);
}
.user_img{
    position: relative;
    margin-right: 20px;
    width: 100px;
    height: 100px;
}
.overlay{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: all .4s;
    opacity: 0;
    text-align: center;
}
.user_img:hover img{
    opacity: 0.4;
}
.user_img:hover .overlay{
    opacity: 1;
}
.user_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    transition: all .4s ease-in-out;
    border: 1px solid var(--Gray);
}
.user_dec{
    flex-grow: 1;
}
.user_dec h3{
    color: var(--Gray);
    margin-bottom: 5px;
}
/* home---------------------------------------- */
.home_container{
    width: 98vw;
    height: calc(100vh - 70px);
    display: grid;
    grid-template-columns: 1fr 3fr;
    overflow: hidden;
    position: relative;
}
.users_container{
    margin-top: 20px;
    border-right: 1px solid var(--Gray);
    overflow-y: auto;
};
.users_wrapper{
    margin-bottom: 20px;
    cursor: pointer;
    padding: 10px;
}
.user_info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    cursor: pointer;
}
.user_ditail{
    display:flex;
    align-items: center;
}
.user_ditail h4{
    margin-left: 10px;
}
.avater{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid var(--Gray);
    object-fit: cover;
}
.user_state{
    width: 10px;
    height: 10px;
    border-radius: 50%;
}
.online{
    background-color: #34eb57;
}
.offline{
    background-color: var(--Red);
}

/* massage sec-----------------------------------------   */
.massage_container{
    position: relative;
    width: 100%;
}
.massage_user{
    padding: 10px;
    text-align: center;
    border-bottom: 2px solid var(--Black2);
}
.no_conv{
    font-size: 20px;
    color: var(--Gray);
    text-align: center;
}

.massage_form{
    position: absolute;
    bottom: 0px;
    left: 20%;
    height: 30px;
    display: flex;
    align-items: center;
} 
 .massage_form input{
    width: 40vw;
    margin: 0px 10px;
    padding: 10px;
    border-radius: 5px;
    outline: none;
    border: none;
} 
 .massage_form .btn{
    margin-top:-10px ;
}

/* massages sec  --------------------------------------- */
.massages{
    height: calc(100vh - 200px);
    overflow-y: auto;
    border-bottom: 1px solid var(--Black2);
}
.massage_wrapper{
    margin-top: 5px;
    padding: 0 5px;
}
.massage_wrapper img{
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}
.massage_wrapper p{
    padding: 10px;
    display: inline-block;
    max-width: 50%;
    text-align: left;
    border-radius: 5px;
}
.massage_wrapper small{
    display: inline-block;
    margin-top: 15px;
    opacity: .8;
}